@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/sofia/Sofia Pro Regular Az.otf") format("truetype");
}

@font-face {
  font-family: "Cubano";
  src: url("/fonts/cubano/Cubano.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/space-mono/SpaceMono-Regular.ttf") format("truetype");
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Sofia Pro", sans-serif;
  /* background-color: #12181b; */
  background-color: #3a4366;
  color: white;
}

h1 {
  font-family: "Cubano", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
#tableOfContents a:hover {
  color: #4dbb92;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/* .lesson-card {
  background-color: #1f2743;
  
} */
/* .file-name {
  background-color: #1f2743;
} */

/* .tag-vscode {
  background: #00a3f8;
  color: white;
}
.tag-firebase {
  background: #ffcb2b;
  color: #12181a;
} */

.tag {
  border-radius: 2px;
}
.tag-last-updated {
  background-color: #454e56;
}

.btn-code {
  background-color: #f6f8fa;
}
.btn-discord {
  background-color: #5965f2;
}

.bluish-color {
  background-color: #1f2743;
}
a.bluish-color {
  transition: all 0.3s;
}
a.bluish-color:focus,
a.bluish-color:hover {
  background-color: #293150;
}
.search-item-highlight {
  color: #4dbb92;
  font-style: italic;
}

.code-font {
  font-family: "Space Mono", monospace;
}
.search-input {
  font-family: "Sofia Pro", sans-serif;
}

/* mark {
  background: #4dbb92;
  border-radius: 1rem;
  padding: 0.5rem;
} */
